.a{
    font-family: 'Franklin Gothic Medium';
    font-size: 40px;
    color: blueviolet;
    text-align: center;
    background-color: beige;
}
.r{
    /* font-family: 'Franklin Gothic Medium'; */
    font-family: 'Segoe UI';
    font-size: 40px;
    color: blueviolet;
    text-align: center;
    background-color: olive;
}